<h1 class="text-3xl">Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%# Invoke stimulus HelloController %>
<div data-controller="hello">
</div>

<%# Mount Svelte component with Turbo Mount %>
<%= turbo_mount("SvelteCounter", props: { count: 5 }, class: "m-5") %>
